.home{
    background-color: rgb(32, 205, 141);
}

.company{
    background-color: rgb(255, 255, 255);
}

.Thecompanyy{
    background-color:rgb(244, 244, 244) ;
}

.meet{
    background-color: rgb(24, 37, 39);
}
.product{
    background-color: rgb(32, 205, 141);
}

.contact{
    background-color: rgb(24,37,39);
}